<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="myconnection" connectionString="Data Source=FEANOR\FEANORSERVER;Initial Catalog=QLBT;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Project_a.Properties.Settings.QLBAN_HANGConnectionString"
   connectionString="Data Source=DESKTOP-KMNS09Q\SQLEXPRESS;Initial Catalog=QLBAN_HANG;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>